/* .hero{
    display: flex;
    flex-wrap: wrap;
}

.hero div:first-of-type{
    width: 65%
}

.hero div:last-of-type{
    width: 35%;
}

.hero div:last-of-type img{
    width: 100%
}

@media screen and (max-width: 500px) {
    .hero div:first-of-type{
        width:100%;
    }
    .hero div:last-of-type{
        width: 100%;
    }
} */